In [2]:
# linear algebra
import numpy as np 

# statistical modeling
import statsmodels.api as sm

# data processing
import pandas as pd 
import ydata_profiling as ydp

# data visualization
import seaborn as sns
%matplotlib inline
import matplotlib.pyplot as plt

# Algorithms
from sklearn.ensemble import RandomForestClassifier

D:\Anaconda\lib\site-packages\numpy\_distributor_init.py:30: UserWarning: loaded more than 1 DLL from .libs:
D:\Anaconda\lib\site-packages\numpy\.libs\libopenblas.FB5AE2TYXYH2IJRDKGDGQ3XBKLKTF43H.gfortran-win_amd64.dll
D:\Anaconda\lib\site-packages\numpy\.libs\libopenblas64__v0.3.23-gcc_10_3_0.dll
  warnings.warn("loaded more than 1 DLL from .libs:"

In [5]:
test_df = pd.read_csv('clean_test.csv')

In [8]:
test_df.head(25)

    PassengerId  Pclass     Sex   Age  SibSp  Parch      Fare Embarked
0           892       3    male  34.5      0      0    7.8292        Q
1           893       3  female  47.0      1      0    7.0000        S
2           894       2    male  62.0      0      0    9.6875        Q
3           895       3    male  27.0      0      0    8.6625        S
4           896       3  female  22.0      1      1   12.2875        S
5           897       3    male  14.0      0      0    9.2250        S
6           898       3  female  30.0      0      0    7.6292        Q
7           899       2    male  26.0      1      1   29.0000        S
8           900       3  female  18.0      0      0    7.2292        C
9           901       3    male  21.0      2      0   24.1500        S
10          902       3    male  30.0      0      0    7.8958        S
11          903       1    male  46.0      0      0   26.0000        S
12          904       1  female  23.0      1      0   82.2667        S
13          905       2    male  63.0      1      0   26.0000        S
14          906       1  female  47.0      1      0   61.1750        S
15          907       2  female  24.0      1      0   27.7208        C
16          908       2    male  35.0      0      0   12.3500        Q
17          909       3    male  21.0      0      0    7.2250        C
18          910       3  female  27.0      1      0    7.9250        S
19          911       3  female  45.0      0      0    7.2250        C
20          912       1    male  55.0      1      0   59.4000        C
21          913       3    male   9.0      0      1    3.1708        S
22          914       1  female  30.0      0      0   31.6833        S
23          915       1    male  21.0      0      1   61.3792        C
24          916       1  female  48.0      1      3  262.3750        C